.btn{
    background-color: black;
    padding: 10px 12px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 12px;
}
input{
    width: 100%;
    box-sizing: border-box;
    padding: 17px;
    border: 1px solid #ddd ;
    border-radius: 12px;
    font-size: 17px;
    margin-bottom: 12px;
}
.container{
    width: 280px;
    text-align: left;
}